
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
/*navbar start here*/
.nav-logo{
text-align: left;
}
.nav-heading h1{
text-align: right;
}
.nav-menu{
flex-direction: row;
justify-content: flex-end;

}
.nav-menu a{
    padding: 12px;
   background-color: transparent;
    font-size: 15px;
}
/*navbar end here*/
/* profile design start here */
.profile .top-weather-icon{
    position: absolute;
    top:10px;
    right: 30px;
    transition: width 2s;
    }
.profile .top-weather-icon:hover{
    height: 200px;
width: 300px;
}
.profile .bottom-weather-icon{
    position: absolute;
  left:30px;
  bottom: 480px;
  transition:width 2s;
}
.profile .bottom-weather-icon:hover{
    height: 200px;
width: 300px;
}
/* profile design end here */

/* about me design start here */
.aboutme-image{
    margin-top: 5px;
}
.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 280px;
    width: 260px;
}
.aboutme-desc p{
    text-align: left;
}
/* about me design ends here */
/* professional experience start here */
.professional-experience{
    padding: 0;
}
/* professional experience ends here */
/* achievement contact start from here */
.achievement-contact{
    padding: 1% 7%;
    background-color: skyblue;
}
.contact{
   text-align: center;
}
.dotted-hrr{
    border: dotted 4px black;
    width: 150px;
    border-bottom: none;
    margin: 10px auto;
    padding-right: 60px;
    }
.contact input{
    width: 100%;
    padding: 5px;
    text-align:left;
    border: none;
    border-radius: 5px;
    resize: none;
    font-size: 1rem;
}
textarea{
    height: 165px;
}
.achievement{
    padding-right: 30px;
}
.contact button{
    width: 90px;
}
.contact-links{
    position: relative;
}
.media-buttons{
    position: absolute;
    margin-top: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* achievement contact ends from here */
/* footer start from here */
.footer{
    height: 55px;
}
.footer-menu{
    margin-top: 12px;
}
.footer .footer-menu a{
    display:inline;  
}
.footer-desc{
    padding-top: 20px;
}


/* footer ends from here */